@import "/src/styles/variables";
.login-container {
  display: flex;
  flex-direction: column;
  background-color: $secondary-color;

  .mat-mdc-card-header {
    justify-content: center;
    margin: 1rem 0;
  }
  .mat-mdc-card-title {
    color: $text-color;
    font-size: $title-font-size;
  }
  .mdc-card__actions {
    justify-content: center;
    margin: 0.5rem 0;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #form-login-btn {
    background-color: $button-bg;
    color: $button-text;
    font-size: 14px;
    font-weight: bold;
  }
}
