$bg-color: #778da9;
$primary-color: #6097d5;
$secondary-color: #415a77;
$terciary-color: #c89b7b;
$text-color: #f0f1eb;
$button-bg: #3085e5;
$button-bg-secondary: #1b5ba5;
$button-text: #fff;
$button-size: 14px;
$title-font-size: 20px;
