$primary-color: #778da9;
$secondary-color: #415a77;
$terciary-color: #c89b7b;
$text-color: #f0f1eb;

/* Buttons */
$button-bg: #3085e5;
$button-text: #fff;
$button-size: 14px;

/* WELCOME COMPONENT */
$title-font-size: 20px;
