@import "/src/styles/variables";
.mat-toolbar {
  background-color: $secondary-color;
  width: 100%;
  justify-content: space-between;

  h1 {
    color: $text-color;
    font-size: 22px;
  }
  .mat-mdc-button {
    color: $button-text !important;
    font-size: $button-size !important;
    font-weight: bold;
  }
}
