<div class="user-profile-container">
  <app-nav-bar></app-nav-bar>
  <h1>User Profile</h1>
  <div class="user-profile-content">
    <form>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input
          matInput
          placeholder="Username"
          type="text"
          name="username"
          [(ngModel)]="userData.username"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Password"
          [type]="hide ? 'password' : 'text'"
          name="password"
          [(ngModel)]="userData.password"
          required
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Email"
          type="email"
          name="email"
          [(ngModel)]="userData.email"
          required
      /></mat-form-field>
      <div class="user-profile-btns">
        <button
          mat-raised-button
          (click)="updateUser()"
          color="primary"
          id="update-btn"
        >
          Update
        </button>
        <button mat-raised-button (click)="deleteUser()" color="warn">
          Delete
        </button>
      </div>
    </form>
  </div>
</div>
