<div class="movie-description-container">
  <h1 mat-dialog-title>{{ data.title }}</h1>
  <div class="movie-description-content">
    <p><strong>Description:</strong> {{ data.description }}</p>
    <p><strong>Director:</strong> {{ data.director }}</p>
    <p><strong>Genre:</strong> {{ data.genre }}</p>
    <p><strong>Actors:</strong> {{ data.actors.join(" | ") }}</p>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="'close'" color="warn">
      Close
    </button>
  </div>
</div>
